h2 About
h3 Beautiful RealTime Graph is a nodejs application 
    small (quick &amp; dirty style code inside)
p Read and display information for the linux system with nodejs
blockquote work on GNU/Linux system (require /proc/diskstats)

h3 Demo
    ul
        li a(href="http://rlstat.rouquin.me/")

h3 Download
    ul
        li a(href="https://github.com/magikcypress/rlstat") rlstat on github

h3 Requirements
h4 Core
    ul
        li 
           a(href="http://nodejs.org") nodejs v0.6.13
        li
           a(href="http://socket.io/") socket.io v0.9
        li
           a(href="http://expressjs.com/") express v2.5.4

h4 Design
    ul
        li
           a(href="http://www.jade-lang.com") jade v0.21.0
        li
           a(href="http://twitter.github.com/bootstrap/") bootstrap twitter v2.0.2
        li
           a(href="http://jqueryui.com") JQuery UI v1.8.12

h4 Chart Graph
    ul
        li
           a(href="http://rgraph.net") RGraph January 2012 release notes
        li
           a(href="http://highcharts.com") HighCharts v2.1.4
